* {
  box-sizing: border-box;
}

:root {
  --primary: #8ac6d1;
  --secondary: #bbded6;
  --contrast: #ffb6b9;
  --contrast-light: #fae3d9;
  --black: #333;

  --standard-margin-side: 28px;
}

html {
  margin: 0;
  width: 100vw;
  background: var(--secondary);
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--black);
}

input,
button,
textarea {
  font-size: inherit;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 var(--standard-margin-side);
}

.personal-img {
  border-radius: 24px;
  margin: 20px 0;
  width: 100%;
}

.button {
  background: var(--primary);
  color: var(--black);
  border-bottom: none;
  padding: 8px;
  border-radius: 4px;
}

.page-main {
  margin: 0 var(--standard-margin-side);
}

.skills-interests {
  display: flex;
}

.skills-interests-single {
  list-style-type: none;
  margin: 0 var(--standard-margin-side) 0 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-section {
  display: flex;
  justify-content: space-between;
}

.social-logo {
  width: auto;
  height: 96px;
  text-decoration: none;
}
